body {
  padding-top: 50px;
  font-family: 'Open Sans', sans-serif;
  background: #EDEDEE;

}

$font-size: 18px;
$line-height: 1.4;
$lines-to-show: 1;

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#menu-bar {
  margin-top: 36px;
}

.navbar {
  background: #fff;
  border: 1px solid #f5f5f5;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

#categorical {
  margin-bottom: 50px;
  .item {
    //padding: 15px 20px;
    background: #fff;
    min-height: 130px;
    //box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    //display: flex;
    //justify-content: center;
    //align-items: center;
    box-shadow: 1px 0px 8px -1px #9a9a9a;
    .detail-section {
      padding: 4px 11px;
      min-height: 91px;
    }
    .title {
      line-height: 21px;
      //padding:15px 20px;
      font-weight: 300;
      margin-bottom: 3px;
    }
    .genre {
      color: #888686;
      font-size: 13px;
    }
  }
}

.dropdown-menu > li > a {
  padding: 8px 20px;
}

a:focus, a:hover {
  text-decoration: none;
  color: inherit;
}

#movie_detail {
  .movie_detail_wrapper {
    padding: 16px;
    background: #fff;
    .movie_name {
      margin-bottom: 15px;
      font-size: 28px;
      font-weight: 300;
    }
    .media-body {
      padding: 20px;
      p.genre {
        span {
          margin-right: 6px;
          background: #00a900;
          color: #fff;
          font-size: 11px;
          padding: 3px 8px;
          border-radius: 5px;
        }
      }
    }
    .youtube_iframe {
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .description {
      padding: 2em 4em;
      line-height: 24px;
      font-weight: 300;
      font-size: 14px;
    }
  }

}

.has-box-shadow {
  box-shadow: 1px 0px 8px -1px #9a9a9a;
}

.gap-block {
  height: 200px;
}

.table-wrapper {
  padding: 2em 4em;
  .cast_title {
    font-size: 16px;
    font-weight: 400;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .cast_credits_table {
    border-top: 1px solid #ddd;
    tr:hover {
      background: #fff;
    }
    td {
      border: 0;
    }
    span.actor {
      color: #ff5858;
    }

    span.director {
      color: #ff5858;
    }
    span.writer, span.producer {
      color: #ff5858;
    }
    .titles {

    }
  }
}

.stars {
  display: block;
  width: 80px;
  background-position: 0 -16px;
  position: relative;

  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.stars,
.stars:after {
  height: 16px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAgCAIAAACU62+bAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAldJREFUeNqMVMuOEkEUPY0EQksHFBIHXKgxEBIW+gGYsHVhcOXCzfgp8wluTVjgxoQlP4C4x2QmhkAgRFagBmLzGKAJ2J6qAqaZ7mHm5qa4j3Nudd1bhWbbNtzy5ZlY3/90Z3we6P43rHpCe5W7Eb6f4TGE/vh4BwLL/6nhAYTSoHuMsBqL8ieAX+qJ3I1Bh2h2/QzTntBBTQQMICXRlDXQAabSTuRhPKVq9icgLlXf4dxC5hwYCvUhX8Jf4N7NaMgUAYTlSz6kT/GqhBZweTOBKQIIS5/KQx/nONCOLtF5/gGmF4FBpiT6sK1slO5F0GXKYw6jcwR2tiVVSUCmHOffT83EfdnB38AvGeHgHkEEV6ZrB14BXeIugH95vD3Hu54wLmRQx/6O7AiznhjN5Uu8ruHNV8RewHgiDLoMziVgezXUe2h/3vZKSqvFRiKTyWzLObL+q7Y6pF6vHxAcWY/3wPJTKWqf2x8Qyz+Uova5hdDv91k7IYUG3WsAbTKZMDEcDi3LUmi2IZ1Oi6O225qmGYaRTCaDwWA8Hqetlcvl0WgUkBIKhZiIRCJcxbgtazwec10sFispsVhMWy6XlUrFNM1sNuv3e7+J9XrdaDSi0WihUBBzYA1y5vN5KpVyc4judDq6rhPNncWh+UOHISaYPoK+6hKdXC7Hb91sNk4CXQaZUuiDtrJdiukkKFelrl9vNjQcDitjMBiIf5ZEgn1kkBEPAkfBtdvtspVsPG1+PVu8T3nsMJvNWJLnUwTOsVqtMnjwnfZOisVis9m0XcIgU3v3vwADALitWRkkbzItAAAAAElFTkSuQmCC);
}

.stars:after {
  content: "";
  background-position: 0 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.s-0:after {
  width: 0;
}

.s-0\.5:after {
  width: 8px;
}

.s-1:after {
  width: 16px;
}

.s-1\.5:after {
  width: 24px;
}

.s-2:after {
  width: 32px;
}

.s-2\.5:after {
  width: 40px;
}

.s-3:after {
  width: 48px;
}

.s-3\.5:after {
  width: 56px;
}

.s-4:after {
  width: 64px;
}

.s-4\.5:after {
  width: 72px;
}

.s-5:after {
  width: 80px;
}

#dateForm {
  display: flex;
  margin-top: 6px;
  padding-right: 12px;
  input#date {

    border: 0;
    border-bottom: 1px solid #ddd;
    box-shadow: none;
  }
  .text {
    min-width: 97px;
    padding: 11px 0;

  }
  button.btn {
    margin-left: 12px;
    height: 38px;
  }
}

#date_id {
  box-shadow: none;
  border: 0;
  border-bottom: 1px solid #ddd;
  padding-top: 9px;
}

.main_series_image {
  max-width: 205px;
}

.tv-series-season-episodes {
  margin-top: -12px;
  //box-shadow: 1px 2px 8px -1px #9a9a9a;

}

.single-ep-desc {
  padding: 3em;
  //border: 1px solid #ddd;
  z-index: 999;
  background: #f5f5f5;
  .media-left {
    //background: #fff;
    padding-right: initial;
    h4 {
      padding: 8px 20px;
      color: initial;
      font-weight: 300;
      margin-bottom: 0;
    }
    p.tv_date {
      padding: 8px 20px;
      padding-top: 0;
      color: initial;
    }
  }
  .media-body {
    padding: 0 25px;
  }
}

.tv-episodes-list-seasonwise {
  background: #f5f5f5;
  padding: 3em;
  padding-top: 0;
  #season_selector {
    max-width: 120px;
    background: transparent;
    border: 0;
    box-shadow: none;
    text-transform: uppercase;
    color: #e65959;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
  }
  .tab-pane {
    padding: 20px 0px;
  }
}

.fix_clearfix:after {
  clear: both;
  content: "";
  display: block;
}

.card {
  background: #fff;
  margin-bottom: 30px;
  .img{
    width:100%;
  }
  h4 {
    padding: 8px;
    color: initial;
    font-weight: 300;
    margin-bottom: 0;
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    max-width: 400px;
    height: 37px; /* Fallback for non-webkit */
    margin: 0 auto;
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  p.tv_date {
    padding: 8px;
    padding-top: 0;
    color: initial;
  }
}
