{% extends "playmovies/base.html" %}
{% load staticfiles %}


{% block content %}

    <section id="main-title">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="f-w-300">GooglePlay Movies</h1>
                </div>
            </div>
        </div>
    </section>

    {% include "playmovies/includes/header.html" %}
    <section id="categorical" class="contain-movies">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section_title f-w-300">TV Series</h2>
                </div>
                <div id="movie_detail" class="fix_clearfix">

                    <div class="col-md-12">
                        <div class="tvseries_wrapper has-box-shadow">
                            <div class="tv-series-main">
                                <div class="movie_detail_wrapper has-box-shadow">
                                    <a class="media-left" href="#">
                                        <img src="{% static "playmovies/images/got_main.jpg" %}"
                                             class="main_series_image">
                                    </a>
                                    <div class="media-body">
                                        <div class="ratings_here pull-right">

                                            <h4>4.5<span class="glyphicon glyphicon-star"></span></h4>
                                            <p>
                                                <span class="f-s-12"> by 23000 </span><span
                                                    class="glyphicon glyphicon-user f-s-12"></span></p>

                                        </div>
                                        <h4 class="media-heading movie_name">Game Of Thrones</h4>
                                        <p class="m-b-5"><span>2011</span><span class=""></span></p>
                                        <p class="genre">
                                            <span>Drama</span>
                                        </p>

                                    </div>
                                    <p class="description">Trouble is brewing in Westeros. For the inhabitants of this
                                        world, control of the Iron Throne holds the lure of great power...and
                                        far-reaching
                                        consequences. Welcome to this epic HBO series based on the book series by George
                                        R.R. Martin.
                                    </p>
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                            <div class="tv-series-season-episodes" style="">
                                <div class="single-ep-desc">
                                    <div class="media">
                                        <a class="media-left" href="#" style="">
                                            <div class="has-box-shadow" style="background: #fff;">
                                                <img src="/static/playmovies/images/got_s07.jpg ">
                                                <h4>7. The Dragon and the Wolf <br></h4>
                                                <p class="tv_date f-s-14 f-w-300">21 March, 2017</p>
                                            </div>
                                        </a>
                                        <div class="media-body" style="">
                                            <h2 class="media-heading f-w-300">Season 7 <br> Episode 7</h2>
                                            <p class="p-t-20"> Season finale. Tyrion tries to save Westeros from itself.
                                                Sansa questions
                                                loyalties.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tv-episodes-list-seasonwise">
                                <!-- TAB NAVIGATION -->
                                <select name="name" id="season_selector" class="form-control">
                                    <option value="">Select One</option>
                                    <option value="season1" selected>Season 1</option>
                                    <option value="season2">Season 2</option>
                                    <option value="season3">Season 3</option>
                                </select>

                                <!-- TAB CONTENT -->
                                <div class="tab-content">
                                    <div class="active tab-pane fade in" id="season1">
                                        <div class="row">

                                            <div class="col-md-3">
                                                <div class="card has-box-shadow">
                                                    <a class="" href="#" style="">
                                                        <img src="/static/playmovies/images/got_s07.jpg"
                                                             class="img img-responsive">
                                                        <div class="detail">

                                                            <h4>7. The Dragon and the Wolf <br></h4>
                                                            <p class="tv_date f-s-14 f-w-300">21 March, 2017</p>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="card has-box-shadow">
                                                    <a class="" href="#" style="">
                                                        <img src="/static/playmovies/images/got_s07.jpg"
                                                             class="img img-responsive">
                                                        <div class="detail">

                                                            <h4>7. The Dragon and the Wolf <br></h4>
                                                            <p class="tv_date f-s-14 f-w-300">21 March, 2017</p>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="card has-box-shadow">
                                                    <a class="" href="#" style="">
                                                        <img src="/static/playmovies/images/got_s07.jpg"
                                                             class="img img-responsive">
                                                        <div class="detail">

                                                            <h4>7. The Dragon and the Wolf <br></h4>
                                                            <p class="tv_date f-s-14 f-w-300">21 March, 2017</p>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="card has-box-shadow">
                                                    <a class="" href="#" style="">
                                                        <img src="/static/playmovies/images/got_s07.jpg"
                                                             class="img img-responsive">
                                                        <div class="detail">

                                                            <h4>7. The Dragon and the Wolf <br></h4>
                                                            <p class="tv_date f-s-14 f-w-300">21 March, 2017</p>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="card has-box-shadow">
                                                    <a class="" href="#" style="">
                                                        <img src="/static/playmovies/images/got_s07.jpg"
                                                             class="img img-responsive">
                                                        <div class="detail">

                                                            <h4>7. The Dragon and the Wolf <br></h4>
                                                            <p class="tv_date f-s-14 f-w-300">21 March, 2017</p>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="card has-box-shadow">
                                                    <a class="" href="#" style="">
                                                        <img src="/static/playmovies/images/got_s07.jpg"
                                                             class="img img-responsive">
                                                        <div class="detail">

                                                            <h4>7. The Dragon and the Wolf <br></h4>
                                                            <p class="tv_date f-s-14 f-w-300">21 March, 2017</p>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="card has-box-shadow">
                                                    <a class="" href="#" style="">
                                                        <img src="/static/playmovies/images/got_s07.jpg"
                                                             class="img img-responsive">
                                                        <div class="detail">

                                                            <h4>7. The Dragon and the Wolf <br></h4>
                                                            <p class="tv_date f-s-14 f-w-300">21 March, 2017</p>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                    <div class="tab-pane fade" id="season2">
                                        <h2>Tab2</h2>
                                        <p>Lorem ipsum.</p>
                                    </div>
                                    <div class="tab-pane fade" id="season3">
                                        <h2>Tab3</h2>
                                        <p>Lorem ipsum.</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>


            </div>

        </div>
    </section>



    <section id="categorical" class="contain-series" style="display: none">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section_title f-w-300">TV Series</h2>
                </div>

                <div class="col-md-2">
                    <div class="item">
                        <div class="wrapper">

                            <h4 class="title">Entourage</h4>
                            <p class="genre">Commedy</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="item">
                        <div class="wrapper">

                            <h4 class="title">Entourage</h4>
                            <p class="genre">Commedy</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="item">
                        <div class="wrapper">

                            <h4 class="title">Entourage</h4>
                            <p class="genre">Commedy</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="item">
                        <div class="wrapper">

                            <h4 class="title">Entourage</h4>
                            <p class="genre">Commedy</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="item">
                        <div class="wrapper">

                            <h4 class="title">Entourage</h4>
                            <p class="genre">Commedy</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="item">
                        <div class="wrapper">

                            <h4 class="title">Entourage</h4>
                            <p class="genre">Commedy</p>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </section>


{% endblock %}
{% block extra_js %}
    <script>
        function dothis(element) {
            if (element.text == 'TV Series') {
                $('.contain-movies').hide();
                $('.contain-series').show();
                $('.toggle-selector span').text(element.text);
            } else if (element.text == 'Movies') {
                $('.contain-series').hide();
                $('.contain-movies').show();
                $('.toggle-selector span').text(element.text);

            }
        }

        $('#season_selector').change(function () {
            var to_active = $(this).find(':selected').val();
            $('.tab-pane').removeClass('active');
            $('#'+to_active).addClass('active');
        })

    </script>
{% endblock %}
